/*

    Adding external fonts

*/

/* Clash Display */
@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url(fonts/clash-display/ClashDisplay-Bold.otf);
}
@font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url(fonts/clash-display/ClashDisplay-Extralight.otf);
}
@font-face {
    font-family: 'ClashDisplay-Light';
    src: url(fonts/clash-display/ClashDisplay-Light.otf);
}
@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url(fonts/clash-display/ClashDisplay-Medium.otf);
}
@font-face {
    font-family: 'ClashDisplay-Regular';
    src: url(fonts/clash-display/ClashDisplay-Regular.otf);
}
@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url(fonts/clash-display/ClashDisplay-Semibold.otf);
}
.navbar{

    background-color: black !important;
}

body{
    background-color: black;
    overflow-x: hidden;
}

.navbar-brand img{
    width: 20%;
}
.banner{
    
    background-color: black;
    height: 100vh;
    text-align: center;
}

.banner h5 {
    margin-top: 8vh;
    font-family: 'ClashDisplay-Semibold';
    font-size: 6vw;
    color: white;
    white-space: nowrap;
    overflow: hidden;

}

.banner-prototype{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 40vh;
}




.tracker-img{
    position: sticky;
}






.banner-prototype:hover #tracker-image {
    transform: scale(1.2); /* Scale up the image when hovered */
}


#tracker-image {
    transition: transform 0.3s ease, opacity 3s ease; /* Ensure smooth transition for movement and fading */
}

.moving-image {
    opacity: 0; /* Fade out */
}

.steps{
    background-color: black;
    height: 250vh;
}
.step{
    background-color: black;
    height: 30vh;
    color: white;
        
}



.step-2, .step-3, .step-4{
    margin-top: 30vh;

}
.step-elements{
    display: flex;
    align-items: center;
}

.step-title h5{
    text-align: left;
    font-family: 'ClashDisplay-Semibold';
    font-size: 350%;
}

.step-description p{
    text-align: left;
    font-family: 'ClashDisplay-Medium';
    font-size: 150%;

}


.render{
    background-color: black;
}


.sale-img img{

    width: 200%;
}

.sale-information{
    color: white;
}

.sale-elements{
    display: flex;
    font-family: 'ClashDisplay-Medium';
    align-items: center;
}

.sale-title h5{
    font-size: 350%;
    text-align: left;
}

.sale-description{
    text-align: left;
    font-size: 150%;

}

.cta-last{
    margin-top: 5vh;
}

.cta-last button{

    font-size: 150%;
    width: 30vw;
}

.sale-price h5{
    font-size: 200%;
    text-align: left;
    font-family: "ClashDisplay-Semibold";
}

.render{
    height: 100vh;
}

.buy-header h5{

    margin-bottom: 10vh;
 
    color: white;
    font-family: "ClashDisplay-Semibold";
    font-size: 450%;
}


.buy-header {
    transform: translateX(400%);
    transition: transform 0.4s ease; 
}
.buy-header.show{
    transform: translateX(0);
}

.buy-header:nth-of-type(even){
    transform: translateX(-400%);
}

.buy-header.show{
    transform:translateX(0); 

}
    

.step {
    transform: translateX(400%);
    transition: transform 0.4s ease; 
}
.step.show{
    transform: translateX(0);
}

.step:nth-of-type(even){
    transform: translateX(-400%);
}

.step.show{
    transform:translateX(0); 

}

@media (max-width: 768px) {
    .banner{
        height: 70vh;
    }

    .step{
        height: 50vh;
    }
    .buy-header h5{
        font-size: 250%;
    }

    .step-img img{
        width: 100%;
    }

    .steps{
        height: 370vh   ;
    }
    .step {
        transform: translateX(0); 
    }

    .step:nth-of-type(even){
        transform: none; 
    }

    .buy-header {
        transform: translateX(0); 
    }
    .cta-last button{
        width: 100%;
    
    }

    .step-title h5{
        font-size: 250%;
    }

    main{
        background-color: black;
        height: 500vh;
    }

    .sale-img img{
        width: 200% !important;
    }

   
}